{
    "env": {
        "node": true,
        "es6": true,
        "mocha": true
    },
    "extends": [
        "@icemobile/eslint-config-backend"
    ],
    "parserOptions": {
        "ecmaVersion": 2022,
        "sourceType": "module"
    },
    "rules": {
        "func-names": 0
    }
}
