{
    "env": {
        "node": true,
        "es6": true,
        "mocha": true
    },
    "extends": [
        "@icemobile/eslint-config-backend"
    ],
    "rules": {
        "func-names": 0
    }
}
