name: Build and Publish

on:
    release:
        types: [created]

jobs:
    build-and-publish:
        runs-on: ubuntu-latest
        permissions:
            id-token: write
            contents: read

        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Setup Node.js
              uses: actions/setup-node@v4
              with:
                  node-version: '22'
                  registry-url: 'https://registry.npmjs.org/'
                  scope: '@icemobile'
                  always-auth: true
                  token: ${{ secrets.NPM_TOKEN }}

            - name: Start ssh-agent
              uses: webfactory/ssh-agent@v0.5.4
              with:
                  ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

            - name: Debug npm auth
              run: |
                  npm whoami || echo "Failed auth"

            - name: Install dependencies
              run: npm ci

            - name: Run tests
              run: npm test

            - name: Publish to npm
              if: success()
              run: npm publish --access=restricted
              env:
                  NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
